/* purgecss start ignore */
/*
  'tailwindcss/base' and 'tailwindcss/components' must come after the above purgecss comment.
  As per the [docs]](https://tailwindcss.com/docs/controlling-file-size/).
*/

/* Custom fonts */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/*
** Custom base styles
** These must come after `@import "tailwindcss/base";`
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}
h1 {
  @apply text-4xl;
  @apply font-bold;
}
h2 {
  @apply text-3xl;
  @apply font-bold;
}
h3 {
  @apply text-2xl;
  @apply font-bold;
}
h4 {
  @apply text-xl;
  @apply font-medium;
}
h5,
h6 {
  @apply text-lg;
  @apply font-medium;
}

/* small screens */
@media only screen and (max-device-width: 480px) {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4,
  h5,
  h6 {
    @apply text-lg;
  }
}

a[href] {
  @apply no-underline;
  color: rgba(3, 102, 214, 1);
}
a[href]:hover {
  text-decoration: underline;
  text-decoration-color: rgba(3, 102, 214, 0.6);
}
a[href^='#']:hover {
  text-decoration-style: dashed;
}
::selection {
  background: var(--brand-color);
  text-shadow: none;
}

a.img {
  @apply border-none;
  @apply bg-transparent;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: inherit !important;
  background-color: transparent !important;
}

p:not(:first-child) {
  @apply mt-6;
}

p:not(:last-child) {
  @apply mb-6;
}

ul,
ol {
  @apply my-4;
}

li > p,
li > p:not(:last-child) {
  @apply my-0;
}

li > ul,
li > ol {
  @apply my-0;
}

ol li {
  @apply list-decimal;
}
ul li {
  @apply list-disc;
}
li {
  @apply ml-5;
}

blockquote {
  @apply px-4;
  @apply italic;
  @apply font-serif;
  @apply text-lg;
  @apply my-4;
  @apply border-l-4;
  @apply border-solid;
  @apply border-gray-800;
  color: #345;
  letter-spacing: 0.002em;
}

hr {
  @apply my-6;
  @apply border-gray-300;
}

table {
  @apply p-2;
}

table td,
table th {
  @apply px-4;
  @apply py-2;
}

table th,
table td {
  @apply border;
}

thead tr {
  @apply border-b-2;
  @apply border-gray-400;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-100;
}

pre,
code {
  font-family: 'IBM Plex Mono', monospace !important;
  font-feature-settings: 'ss02' 1, 'zero' 1;
  font-size: 85%;
}

/* Custom site styles */

:root {
  --brand-color: rgb(250, 240, 20);
}

.bg-brand {
  background: var(--brand-color);
}

html {
  @apply bg-white;
  @apply h-full;
}

body {
  @apply h-full;
  @apply text-base;
  @apply text-black;
  font-family: 'Inter var', -system-ui, system-ui, sans-serif;
  font-size-adjust: none;
  @apply not-italic;
  font-variant: normal;
  @apply font-normal;
  @apply leading-normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  -moz-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -ms-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -o-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -webkit-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
}

.gatsby-highlight {
  @apply my-8;
  background-color: #1d1f21;
  border-radius: 0.3em;
  padding: 1em;
  overflow: auto;
}

[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

:not(pre) > code {
  padding: 0.1rem 0.4rem !important;
}

/* purgecss end ignore */

@import 'tailwindcss/utilities';
