a.brand:hover {
  text-decoration: none;
}

.nav-links > a {
  @apply text-gray-700;
}

.nav-links > a:not(:last-child) {
  @apply mr-4;
}

.nav-links > a:hover {
  @apply text-black;
  text-decoration-color: black;
  transition: ease 200ms color;
}
